body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    background-color: #ea5e2d;
    color: white;
}
.clear{
    clear: both;
}
a {
    text-decoration: none;
}
.banner {
    width: 100%;
    height: auto;
    display: block;
}
nav ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 50%;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

main {
    padding: 20px;
    max-width: 90%;
    margin: 0 auto;
}

h1 {
    color: #ea5e2d;
    font-size: 2em;
}

h2 {
    color: #ea5e2d;
    font-size: 1.5em;
}

article {
    min-height: 200px;

}

article figure img {
    width: 100%;
}

article figure {
    float: left;
    width: 225px;
    border: none;
    padding-top: 0px;
    margin-top: 0;
}

article p{
    color: black;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
}

#izvor{
    text-decoration: none;
}

figure {
    margin: 20px 15px 20px 0px;
    float: left;
    width: 40%;
    border: 1.5px solid black;
    padding: 5px;
}

.date{
    font-style: italic;
    color: #666;
}

figcaption {
    font-style: italic;
    color: #666;
    text-align: center;
}

figure img{
    width: 100%;
    max-height: 450px;
}

footer {
    background-color: #ea5e2d;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 30px;
    width: 100%;
}

footer p{
    margin: 0;
    padding: 5px;
}

.social-icon {
    margin-bottom: 5px;
    width: 25px;
    vertical-align: middle;
}

/*Forma*/
label {
    display:block;
    clear:both;
    margin-bottom: 5px;
    font-weight: bold;
}
input,select,textarea {
    width: 85%;
    margin-bottom: 15px;
}
.submit {
    color: white;
    background-color: #ea5e2d;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
input[type=checkbox]{
    width: 1%;
}

/*Articles*/
.gallery-article figure {
    width: 15%;
    padding: 10px;
}

.gallery-article figure img {
    width: 100%;
}

/*Gallery*/
.gallery {
    margin: 0 auto;
    width: 90%;
}

.gallery figure {
    width: 47%;
}

.gallery figure img {
    height: 400px;
}

@media (max-width: 900px) {
    nav ul {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    h1, h2 {
        text-align: center;
    }

    article figure {
        width: 90%;
        float: none;
        margin: 0 auto;
    }
    .gallery-article figure {
        clear: both;
        display: flex;
        flex-direction: column;
        min-width: 90%;
        margin-left: 15px;
    }
}

